fastapi
uvicorn[standard]
pydantic
numpy
faiss-cpu
python-dotenv
chromadb
sentence-transformers
tiktoken
loguru
aiofiles
ddgs
trafilatura
selenium
webdriver-manager
beautifulsoup4
curl_cffi
undetected-chromedriver
loguru